img{
    margin-right: 350px;
    margin-top:-81px ;
}



   h1{
    color:white;
    position: relative;
    margin-top: auto;
    margin-left: 150px;
    font-family:  MV Boli;
    color:white;
}

.input{
    text-transform: bold;
}